*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}

.navbar-brand{
    color: #e1156d;
    font-size: large;
    font-weight: bold;
}

.nav-item{
    font-weight: bold;
}
.registerpage{
 border: 1px solid black;
 height: 80%;
 width: 30% ;
 margin:30% auto;
 padding: 20px 20px 20px 20px;
 background-color: #f0f3f6;
 border-radius: 20px;
}

.btn{
    color: white;
    width: 30px auto;
    padding: 14px 64px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing:0.5px ;
    font-weight: bold;
    border-radius: 25px;
    background-image: linear-gradient(to right,#8b33c5,#15a0e1);
}

input{
    width: 98%;
    border-radius: 25px;
    text-align: justify;
    height: 50px;
    width: 40px auto;
}

h2{
    text-align: center;
    font-size: medium;
}
.footer{
   background-color: rgb(41, 38, 38);
}

.footer-item{
    text-align: center;
}

#contact{
    display: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}
#copyright{
    text-align: center;
    background-color: black;
    color: white;
    bottom: 0px;
}
.card-body{
    background-color: rgb(243, 154, 188);
}
.card{
    margin-left: 10px;
    margin-right: 20px; 
    padding: 10px 10px 10px 10px;
}
